.slide-in-header {
    animation: slide-in-header 0.7s forwards;
  }
  
  @keyframes slide-in-header {
    0% {
      transform: translateY(60px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-in-text {
    animation: slideInText 0.9s forwards;
  }
  
  @keyframes slideInText {
    0% {
      transform: translateY(80px);
     opacity: 0; 
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-in-btn {
    animation: slide-in-btn 1s forwards;
  }
  
  @keyframes slide-in-btn {
    0% {
      transform: translateY(85px);
      opacity: 0;
    }
    40% {
      opacity: 0.4;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  .slide-in-box {
    animation: slide-in-box 1.3s forwards;
  }
  
  @keyframes slide-in-box {
    0% {
      transform: translateY(150px);
    }
    40% {
      opacity: 0.4;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  